{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}GanadApp{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">

    {% block extra_css %}{% endblock %}

</head>

<body>

<header class="topbar">

    <div class="brand">

        <img
            src="{% static 'img/logo.png' %}"
            alt="Logo GanadApp"
            class="logo-main">

        <span class="brand-name">
            GanadApp
        </span>

    </div>

    <nav class="menu">

        <button onclick="location.href='/'">
            <img src="{% static 'img/icon-inicio.png' %}" alt="">
            Inicio
        </button>

        <button onclick="location.href='/'">
            <img src="{% static 'img/icon-panel.png' %}" alt="">
            Panel Principal
        </button>

        <button>
            <img src="{% static 'img/icon-productores.png' %}" alt="">
            Productores
        </button>

        <button onclick="location.href='/animales'">
            <img src="{% static 'img/icon-animales.png' %}" alt="">
            Gestión de Animales
        </button>

        <button onclick="location.href='/sanidad'">
            <img src="{% static 'img/icon-vacunacion.png' %}" alt="">
            Vacunación
        </button>

        <button>
            <img src="{% static 'img/icon-stock.png' %}" alt="">
            Stock
        </button>

        <button>
            <img src="{% static 'img/icon-trazabilidad.png' %}" alt="">
            Trazabilidad
        </button>

        <button>
            <img src="{% static 'img/icon-reportes.png' %}" alt="">
            Reportes
        </button>

    </nav>

</header>

<main>

    {% block content %}
    {% endblock %}

</main>

<footer>

    © 2026 GanadApp - Soluciones de Gestión Ganadera - Todos los derechos reservados

</footer>

{% block extra_js %}
{% endblock %}

</body>

</html>